
@inherits LayoutComponentBase
@using Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth bg-dark">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4 bg-dark">
            @Body
        </div>
    </div>
</div>
