
@inherits BottomButtonsModel

<h3>BottomButtons</h3>

<h5 class="mat-subtitle1">With Font-Awesome Icons and Link</h5>
<MatButtonLink Href="https://github.com/kysu1313/CSharp-Discord-Bot-Official">
    <i class="fa fa-github" aria-hidden="true"></i> &nbsp; Github
</MatButtonLink>

@code {
    
}