
@inherits BotDash.Models.ComponentModels.UsageGraphModel
@inject ApplicationDbContext _context
@inject IServiceProvider _services
@using Blazorise.Charts;
@using ClassLibrary.Data

<h3>UsageGraph</h3>

<style>
    .app-fab--absolute {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
</style>

<MatFAB Icon="@MatIconNames.People" Label="@GetUserCount()" ></MatFAB>

<MatFAB Icon="@MatIconNames.Computer" Label="@GetServerCount()"></MatFAB>

