@page "/userpanel"

@inherits BotDash.Models.PageModels.UserPanelModel
@using ClassLibrary.Data
@inject ApplicationDbContext _context

@if (!_isLoggedIn)
{
    <LoggedIn></LoggedIn>
}
else
{
    <div class="control-container">
        <div class="server-select">
            @if (_servers != null)
            {
                <div class="col-xl-6" style="display: inline-flex;">
                <RadzenDropDownDataGrid TValue="ulong" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                        AllowFiltering="true" AllowClear="true"
                                        Data="@_severNames"
                                        EmptyText="Select a server"
                                        SearchText="Select a server"
                                        TextProperty="Key"
                                        ValueProperty="Value"
                                        Change="@(args => OnDdChange(args, "DropDown"))" Style="width:20%" />
                
                <RadzenButton Click=@(args => RefreshClick()) Style="margin-bottom: 20px; margin-left: 5px" Icon="refresh" />
                </div>
                
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" 
                                PageSize="50" AllowPaging="true" AllowSorting="true" Style="width:80%"
                                Data="@_selectedUsers" TItem="UserModel"
                                LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="UserModel" Property="UserName" Title="Username" />
                        <RadzenDataGridColumn TItem="UserModel" Property="isBotAdmin" Title="Is Bot Admin">
                            <Template Context="data">
                                <RadzenSwitch  @bind-Value=@data.isBotAdmin Change=@(args => OnSwitchChange(args, data, "Switch")) />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="UserModel" Property="hasLinkedAccount" Title="Has Linked Account" />
                        <RadzenDataGridColumn TItem="UserModel" Property="userId" Title="Discord ID" />
                        <RadzenDataGridColumn TItem="UserModel" Property="userNameEntry" Title="Discord Username" FormatString="{0:d}" />
                        <RadzenDataGridColumn TItem="UserModel" Property="slowModeEnabled" Title="Slow Mode Enabled" FormatString="{0:d}" />
                        <RadzenDataGridColumn TItem="UserModel" Property="slowModeTime" Title="Slow Mode Time" />
                    </Columns>
                </RadzenDataGrid>
            }
            
        </div>
    </div>
}
 

