@page "/linkaccount"
@using ClassLibrary.Models.ContextModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@inherits BotDash.Models.PageModels.LinkAccountModel

<style>
.container {
  /*height: 200px;*/
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /*-ms-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
}
</style>

<div class="row">
    <div class="col-xl-6">
        <h3 class="bg-light">Link your Discord account.</h3>
        @if (_success)
        {
            <MatFAB Icon="@MatIconNames.Favorite" Label="Success!"></MatFAB>
            <div>
                <p>You have successfully linked your new bot's dashboard!</p>
            </div>
        }
        else
        {
            <div class="mat-layout-grid">
                <MatTextField @bind-Value="@_userId" Label="Discord ID"></MatTextField>
                <br/>
                <MatButton OnClick="@Submit" Raised="true">Enter your Discord ID</MatButton>
                <RadzenImage Path="img/discid.jpg" Style="height:300px"/>
            </div>
        }
        
    </div>
</div>


