<div>
    <MatSubtitle2 style="color: white;">You need to log in first!</MatSubtitle2>
    <NotAuthorized>
        <a class="btn btn-warning" href="Identity/Account/Register">Register</a>
        <a class="btn btn-success" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</div>
